<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCRYPTO | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/f2da67d6cc.js" crossorigin="anonymous"></script>
    <script src= "/static/purchase.js"></script>
</head>
<body>
    <header>
        myCRYPTO
    </header>
    <section class="container">
        <div class="menu">
            <a href="/">Inicio</a> | <a href="/purchase">Compra </a> | <a href="/status">Status</a>
        </div>
        {% block contenido %}{% endblock %} 
    </section>
    <footer>
        &copy; 2020 - Todos los derechos reservados
    </footer>
</body>
</html>