{% extends "base.html" %}

     {% block titulo %} Ventas por región {% endblock %}
     
     
     {% block contenido%}
          <center><h1>Compra de Criptos</h1></center>
     
          <form name="purchase_form" action="/" method="post">
                <div class="row">
                  <div class="six columns">
                    <label for="from_currency">From:</label>
                    <select name="from_currency" class="u-full-width" id="from_currency">
                        <option value="EUR">EUR</option>
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="XRP">XRP</option>
                        <option value="LTC">LTC</option>
                        <option value="BCH">BCH</option>
                        <option value="BNB">BNB</option>
                        <option value="USDT">USDT</option>
                        <option value="EOS">EOS</option>
                        <option value="BSV">BSV</option>
                        <option value="XLM">XLM</option>
                        <option value="ADA">ADA</option>
                        <option value="TRX">TRX</option>
                  </select>
                </div>
                  <div class="six columns">
                    <label for="to_currency">To:</label>
                    <select name="to_currency" class="u-full-width" id="to_currency">
                        <option value="EUR">EUR</option>
                        <option value="BTC">BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="XRP">XRP</option>
                        <option value="LTC">LTC</option>
                        <option value="BCH">BCH</option>
                        <option value="BNB">BNB</option>
                        <option value="USDT">USDT</option>
                        <option value="EOS">EOS</option>
                        <option value="BSV">BSV</option>
                        <option value="XLM">XLM</option>
                        <option value="ADA">ADA</option>
                        <option value="TRX">TRX</option>
                    </select>
                  </div>
                </div>

            <div>
                <div class="row">
                    <div class="five columns">
                        <label for="form_quantity">Q: </label>
                        <input name="form_quantity" class="u-full-width" type="number" id="form_quantity" step="0.01">
                    </div>
                    <div class = "two columns">
                        <label for=".">.</label>
                        <button type="button" onclick="convertCurrency()"> <i class="fas fa-calculator"></i> </button>
                    </div>
                    <div class="six colums">
                        <label for="to_quantity">Q:</label>
                        <input name="to_quantity" class="output-value" readonly type= "text" id="to_quantity" value="0">
                    </div>
                </div>
            </div>
            <div>
                <div class="row" >
                    <div class= "one column">
                        <label for="unit_price">P.U:</label>
                        <input name="unit_price" class="output-value" readonly type="text" id="precio_unitario" value="0">
                    </div>
                </div>
            </div>
            <div class= "boton_purchase">
                <button href="/"><i class="fas fa-times"></i></button>   
                <button type="submit"><i class="fas fa-check"></i></i></button> 
            </div>       
          </form>
          {% endblock %}