{% extends 'base.html' %}

{% block titulo%}Status{% endblock %}

{% block contenido %}

    <center><h1>Estado de la inversion</h1></center>

    <center><label for="Invertido">Invertido:</label></center>
    <center><input name="Invertido" class="output-value" readonly type="text" id="invertido" value=""></center>


    <center><label for="valor_actual">valor_actual:</label></center>
    <center><input name="Valor Actual" class="output-value" readonly type="text" id="valor_actual" value=""></center>


    <a class="button" href="/">Volver</a>

    

    
    
{% endblock %}